@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

$black: rgb(20, 20, 20);
$white: rgb(238, 238, 238) ;
$contrast: #ED5464;

$MontSerrat: 'Montserrat', sans-serif;