@import "reset";
@import "styles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&display=swap');

body{
    font-family: $MontSerrat;
    background-color: rgb(245, 245, 245);
    font-weight: 400;
    height: 100%;

    &::-webkit-scrollbar {
        width: 9px;               /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: transparent;        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
        background-color: $contrast;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        //border: 1px solid orange;  /* creates padding around scroll thumb */
    }

    .selectFilter{
        color: $contrast!important;
        font-weight: 700;
        transition: 0.2s;
    }

    header{
        width: 90%;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;     
        margin: 0 auto;   

        nav{
            img{
                width:40px;
                height: 40px;
                object-fit: cover;
                border-radius: 100%;
            }

            ul, li {
                margin: 0 .6rem;
                display: flex;
                align-items: center;
            }
        }
    }

    main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        justify-content: center;

        section#filters{
            width: 100%;  
            display: flex;
            justify-content: center;
            align-items: baseline;   
            
            div{
                width: 70%;

                div.filter__search{
                    width: 100%;
                    margin: 1rem auto;
                    position: relative;
                    display: flex;
                    align-items: center;

                    input{
                        font-family: $MontSerrat;
                        width: 100%;
                        background-color: transparent;
                        border-radius: 15px;
                        outline: none;
                        padding: .4rem .6rem;
                        border: 1px solid rgb(204, 202, 202);
                        transition: 0.5s;                   
                    }
                    
                    svg{
                        position: absolute;
                        width: 20px;                        
                        right: 10px;
                        cursor: pointer;
                    }
                    
                }

                div.filter_category{
                    width: 100%;

                    h2.filter__name{
                        text-transform: uppercase;
                        font-weight: 500;
                        margin: 2rem 0;
                        position: relative;
                        font-size: 1rem;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 1.7px;
                            background: #c5c5c5;
                            position: absolute;
                            top: 1.5rem;
                            left: 0;
                        }
                    }

                    ul.filter__ul{
                        li{
                            cursor: pointer;
                            font-weight: 500;
                            margin: 1rem 0;
                            font-size: .9rem;
                            transition: .5s;
                            color: rgb(155, 154, 154);
                            display: flex;
                            justify-content: space-between;

                            &:hover{
                                color: $contrast;
                            }

                            &:focus{
                                color:$contrast;
                            }
                        }
                    }
                }
            }
        }

        section#games{
            width: 90%;
            height: 100%;

            h3.filter__active{
                font-size: 2rem;
                font-weight: 300;
                margin: 0 2rem;
            }           
            
            div.games__list{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                div.game__card{
                    width: 15rem;
                    height: 25rem;
                    margin: 1.5rem 2rem;
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;
                    transition: 0.6s;
                    opacity: 1;

                    &:hover{
                        -webkit-box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.7); 
                        box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.7);
                    }
    
                    img.game__img{
                        cursor: pointer;
                        object-fit: cover;                    
                        width: 100%;
                        height: 100%;
                        transition: 0.5s;
                    }
    
                    h1.game__title{
                        text-align: center;
                        opacity: .8;
                        width: 100%;
                        border-radius: 20px;
                        color: $white;
                        position: absolute;
                        bottom: 0;
                        font-size: 1.5rem;
                        padding: 1.5rem 0;
                        background: transparent;
                        background: -moz-linear-gradient(180deg, transparent 0%, $black 100%);
                        background: -webkit-linear-gradient(180deg, transparent 0%, $black 100%);
                        background: linear-gradient(180deg, transparent, $black 100%);
                    }
                }
            }            
        }
    }
}